/*

Styles for Mv-Muzic

by Anjrot

*/
/*Normalize theme*/
* {
  margin: 0;
  padding: 0;
}
.container-fluid {
  padding: 0;
  margin: 0;
}
.row {
  width: 100%;
  margin: 0;
}
.col-md-9.col-xs-12.main-container {
  padding: 0;
}
/*End Normalize theme*/

/*Menu Side-bar*/
.menu h3 {
  background: #fb2d5c;
  text-align: center;
  color: #fff;
  padding: 40px;
  margin-bottom: 0;
}
.side-bar a {
  color: #9fa1a8;
}
.side-bar.menu-side {
  background: #2b2f3e;
  height: 255vh;
}
.side-bar ul {
  width: 100%;
  color: #fff;
  padding: 25%;
}
.side-bar li {
  margin-left: 25px;
  list-style: none;
  margin-bottom: 15px;
}
/*End Menu Side-bar*/

/*Search-Container*/
.col-md-3.col-xs-12.menu {
  padding: 0;
}
.search {
  padding: 39px;
  background: #f2f2f4;
  position: fixed;
  z-index: 99;
  width: 100%;
}
.search-title {
  padding: 18px;
}
.search-title h4 {
  color: #9e9e9f;
}
.info-img img {
  width: 25%;
  position: absolute;
  top: -40px;
  border-radius: 10px;
}
.info-tag ul {
  position: absolute;
  top: -44px;
  width: 541px;
  left: -100px;
}
.info-tag li {
  list-style: none;
  font-size: 12px;
}
.search-title h4 {
  margin: -14px;
}
/*End Search-container*/

/*content*/

.row.colum-content {
  margin-top: 100px;
}

.col-md-3.colums-5 {
  width: 20% !important;
  max-width: 20%;
  margin-bottom: 75px;
}
.row.colum-content {
  padding-top: 50px;
}
.colums-5 img {
  border-radius: 10px;
}
p.caption {
  text-align: center;
  margin-top: 25px;
  color: #a3a3a3;
}
/*End content*/
